@font-face {
    font-family: "Union-Regular";
    src: url('assets/font/Union-Regular.woff') format('woff')
}

*,*:before,*:after{
  box-sizing:border-box
  }

body{
  margin:0
  }
    
::-webkit-scrollbar {
 display: none;
  }

@media screen and (min-width: 750px) { 
  #WorkCardImage-featured-collections-7421298016448 {
    max-width: 173px;
    max-height: 195px;
    }
  #WorkCardImageWrapper-featured-collections-7421298016448 {
    max-width: 173px;
    max-height: 195px;
    }} 

@media screen and (max-width: 749px) {
  #WorkCardImage-featured-collections-7421298016448 {
    max-width: 666.6666666666666px;
    max-height: 750px;
    }
  #WorkCardImageWrapper-featured-collections-7421298016448 {
    max-width: 666.6666666666666px;
    }}

footer,header,main,menu,section{
display:block
}
body{
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%
}
a{
background-color:transparent
}
b,strong{
font-weight:700
}
em{
font-style:italic
}
small{
font-size:80%
}
sub,sup{
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline
}
sup{
top:-.5em
}
sub{
bottom:-.25em
}
img{
max-width:100%;
border:0
}

a{
touch-action:manipulation
}
.grid{
*zoom: 1;
list-style:none;
padding:0;
margin:0 0 0 -30px
}
.grid:after{
content:"";
display:table;
clear:both
}
@media only screen and (max-width: 749px){
.grid{
margin-left:-22px
}}
.grid__item{
float:left;
padding-left:30px;
width:100%
}
@media only screen and (max-width: 749px){
.grid__item{
padding-left:22px
}}
.grid--rev{
direction:rtl;
text-align:left
}
.grid--rev>.grid__item{
direction:ltr;
text-align:left;
float:right
}
.one-whole{
width:100%
}
.one-half{
width:50%
}
.one-third{
width:33.33333%
}
.two-thirds{
width:66.66667%
}
.one-quarter{
width:25%
}
.two-quarters{
width:50%
}
.three-quarters{
width:75%
}
.one-fifth{
width:20%
}
.two-fifths{
width:40%
}
.three-fifths{
width:60%
}
.four-fifths{
width:80%
}
.one-sixth{
width:16.66667%
}
.two-sixths{
width:33.33333%
}
.three-sixths{
width:50%
}
.four-sixths{
width:66.66667%
}
.five-sixths{
width:83.33333%
}
.one-eighth{
width:12.5%
}
.two-eighths{
width:25%
}
.three-eighths{
width:37.5%
}
.four-eighths{
width:50%
}
.five-eighths{
width:62.5%
}
.six-eighths{
width:75%
}
.seven-eighths{
width:87.5%
}
.one-tenth{
width:10%
}
.two-tenths{
width:20%
}
.three-tenths{
width:30%
}
.four-tenths{
width:40%
}
.five-tenths{
width:50%
}
.six-tenths{
width:60%
}
.seven-tenths{
width:70%
}
.eight-tenths{
width:80%
}
.nine-tenths{
width:90%
}
.one-twelfth{
width:8.33333%
}
.two-twelfths{
width:16.66667%
}
.three-twelfths{
width:25%
}
.four-twelfths{
width:33.33333%
}
.five-twelfths{
width:41.66667%
}
.six-twelfths{
width:50%
}
.seven-twelfths{
width:58.33333%
}
.eight-twelfths{
width:66.66667%
}
.nine-twelfths{
width:75%
}
.ten-twelfths{
width:83.33333%
}
.eleven-twelfths{
width:91.66667%
}
.show{
display:block!important
}
.hide{
display:none!important
}
.text-left{
text-align:left!important
}
.text-right{
text-align:right!important
}
.text-center{
text-align:center!important
}
@media only screen and (max-width: 749px){
.small--one-whole{
width:100%
}
.small--one-half{
width:50%
}
.grid--uniform .small--one-half:nth-child(2n+1),.grid--uniform .small--one-third:nth-child(3n+1),.grid--uniform .small--one-quarter:nth-child(4n+1),.grid--uniform .small--one-fifth:nth-child(5n+1),.grid--uniform .small--one-sixth:nth-child(6n+1),.grid--uniform .small--two-sixths:nth-child(3n+1),.grid--uniform .small--three-sixths:nth-child(2n+1),.grid--uniform .small--one-eighth:nth-child(8n+1),.grid--uniform .small--two-eighths:nth-child(4n+1),.grid--uniform .small--four-eighths:nth-child(2n+1),.grid--uniform .small--five-tenths:nth-child(2n+1),.grid--uniform .small--one-twelfth:nth-child(12n+1),.grid--uniform .small--two-twelfths:nth-child(6n+1),.grid--uniform .small--three-twelfths:nth-child(4n+1),.grid--uniform .small--four-twelfths:nth-child(3n+1),.grid--uniform .small--six-twelfths:nth-child(2n+1){
clear:both
}
.small--show{
display:block!important
}
.small--hide{
display:none!important
}
.small--text-left{
text-align:left!important
}
.small--text-right{
text-align:right!important
}
.small--text-center{
text-align:center!important
}}
@media only screen and (min-width: 750px){
.medium-up--one-whole{
width:100%
}
.medium-up--one-fifth{
width:20%
}

.grid--uniform .medium-up--one-half:nth-child(2n+1),.grid--uniform .medium-up--one-third:nth-child(3n+1),.grid--uniform .medium-up--one-quarter:nth-child(4n+1),.grid--uniform .medium-up--one-fifth:nth-child(5n+1),.grid--uniform .medium-up--one-sixth:nth-child(6n+1),.grid--uniform .medium-up--two-sixths:nth-child(3n+1),.grid--uniform .medium-up--three-sixths:nth-child(2n+1),.grid--uniform .medium-up--one-eighth:nth-child(8n+1),.grid--uniform .medium-up--two-eighths:nth-child(4n+1),.grid--uniform .medium-up--four-eighths:nth-child(2n+1),.grid--uniform .medium-up--five-tenths:nth-child(2n+1),.grid--uniform .medium-up--one-twelfth:nth-child(12n+1),.grid--uniform .medium-up--two-twelfths:nth-child(6n+1),.grid--uniform .medium-up--three-twelfths:nth-child(4n+1),.grid--uniform .medium-up--four-twelfths:nth-child(3n+1),.grid--uniform .medium-up--six-twelfths:nth-child(2n+1){
clear:both
}
.medium-up--show{
display:block!important
}
.medium-up--hide{
display:none!important
}
.medium-up--text-left{
text-align:left!important
}
.medium-up--text-right{
text-align:right!important
}
.medium-up--text-center{
text-align:center!important
}}

.clearfix{
*zoom: 1
}
.clearfix:after{
content:"";
display:table;
clear:both
}

.box{
background:no-repeat;
background-color:#f7f7f7;
background-size:contain;
-ms-overflow-style: none;
}
.box::-webkit-scrollbar{
    display:none;
  }
.ratio-container{
position:relative
}
.ratio-container:after{
display:block;
height:0;
width:100%;
padding-bottom:50%;
content:""
}
.ratio-container>*{
position:absolute;
top:0;
left:0;
width:100%;
height:100%
}
body,html{
background-color:#fff
}
.page-width{
*zoom: 1;
max-width:1200px;
margin:0 auto
}
.page-width:after{
content:"";
display:table;
clear:both
}
.main-content{
display:block;
padding-top:35px
}
@media only screen and (min-width: 750px){
.main-content{
padding-top:55px
}
}
h4,.h4{
margin:0 0 17.5px;
font-family:Work Sans,sans-serif;
font-style:normal;
font-weight:600;
line-height:1.2;
overflow-wrap:break-word;
word-wrap:break-word
}
h4 a,.h4 a{
color:inherit;
text-decoration:none;
font-weight:inherit
}
h4,.h4{
font-size:.92857em
}
@media only screen and (max-width: 749px){
h4,.h4{
font-size:.85714em
}}

li{
list-style:none
}

ul,ol{
margin:0;
padding:0
}
.scrollable-wrapper{
max-width:100%;
overflow:auto;
-webkit-overflow-scrolling:touch
}

a{
  color: #2151ff;
	border-bottom: 0.0em solid rgba(33, 81, 255, 1);
}
a:not([disabled]):hover,a:focus{
color:#404040
}
a[href^=tel]{
color:inherit
}

.full-width-link{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
z-index:2
}

.video-wrapper{
position:relative;
overflow:hidden;
max-width:100%;
padding-bottom:56.25%;
height:0;
height:auto
}
.video-wrapper iframe{
position:absolute;
top:0;
left:0;
width:100%;
height:100%
}
form{
margin:0
}
::-moz-placeholder{
color:#000;
opacity:.6
}

.page-width{
padding-left:55px;
padding-right:55px
}
@media only screen and (max-width: 749px){
.page-width{
padding-left:22px;
padding-right:22px
}}
.page-container{
transition:all .45s cubic-bezier(.29,.63,.44,1);
position:relative;
overflow:hidden
}
@media only screen and (min-width: 750px){
.page-container{
-ms-transform:translate3d(0,0,0);
-webkit-transform:translate3d(0,0,0);
transform:translateZ(0)
}}
hr{
margin:55px 0;
border:0;
border-bottom:1px solid black
}
.hr--small{
padding:10px 0;
margin:0
}
.hr--invisible{
border-bottom:0
}
.border-bottom{
border-bottom:1px solid black
}
.border-top{
border-top:1px solid black
}

.grid--table{
display:table;
table-layout:fixed;
width:100%
}
.grid--table>.grid__item{
float:none;
display:table-cell;
vertical-align:middle
}
.grid--no-gutters{
margin-left:0
}
.grid--no-gutters .grid__item{
padding-left:0
}
.grid--half-gutters{
margin-left:-15px
}
.grid--half-gutters>.grid__item{
padding-left:15px
}
.grid--double-gutters{
margin-left:-60px
}
.grid--double-gutters>.grid__item{
padding-left:60px
}
.grid--flush-bottom{
margin-bottom:-55px;
overflow:auto
}
.grid--flush-bottom>.grid__item{
margin-bottom:55px
}
.grid--view-items{
overflow:auto;
margin-bottom:-35px
}
.grid-view-item{
margin:0 auto 35px
}
.custom__item .grid-view-item{
margin-bottom:0
}
.grid-view-item__title{
margin-bottom:0;
color:#000
}
.grid-view-item__meta{
margin-top:8px
}
@media only screen and (max-width: 749px){
.grid-view-item__title,.grid-view-item__meta{
font-size:.92857em
}}
.grid-view-item__link{
display:block
}
.grid-view-item__vendor{
margin-top:4px;
color:#000;
font-size:.85714em;
text-transform:uppercase
}
@media only screen and (max-width: 749px){
.grid-view-item__vendor{
font-size:.78571em
}}
.grid-view-item__image-wrapper{
margin:0 auto 15px;
position:relative;
width:100%
}
.grid-view-item__image{
display:block;
margin:0 auto;
width:100%
}
.grid-view-item__image-wrapper .grid-view-item__image{
position:absolute;
top:0
}
.grid-view-item__image.lazyload{
opacity:0
}
.list-view-item{
margin-bottom:22px
}
.list-view-item:last-child{
margin-bottom:0
}
@media only screen and (min-width: 750px){
.list-view-item{
border-bottom:1px solid black;
padding-bottom:22px
}
.list-view-item:last-child{
padding-bottom:0;
border-bottom:0
}}
.list-view-item__link{
display:table;
table-layout:fixed;
width:100%
}
.list-view-item__image{
max-height:95px
}
.list-view-item__image-column{
display:table-cell;
vertical-align:middle;
width:130px
}
@media only screen and (max-width: 749px){
.list-view-item__image-column{
width:85px
}}
.list-view-item__image-wrapper{
position:relative;
margin-right:35px
}
@media only screen and (max-width: 749px){
.list-view-item__image-wrapper{
margin-right:17.5px
}}
.list-view-item__title-column{
display:table-cell;
vertical-align:middle
}
.list-view-item__title{
color:#000;
font-size:1.14286em;
min-width:100px
}

.index-section{
padding-top:35px;
padding-bottom:35px
}
@media only screen and (min-width: 750px){
.index-section{
padding-top:55px;
padding-bottom:55px
}}
.index-section:first-child{
padding-top:0;
border-top:0
}
.index-section:last-child{
padding-bottom:0
}
.index-section--flush+.index-section--flush{
margin-top:-70px
}
@media only screen and (min-width: 750px){
[class*=index-section--flush]+[class*=index-section--flush]{
margin-top:-110px
}}
.index-section--flush:first-child{
margin-top:-35px
}
@media only screen and (min-width: 750px){
[class*=index-section--flush]:first-child{
margin-top:-55px
}}
.index-section--flush:last-child{
margin-bottom:-35px
}
@media only screen and (min-width: 750px){
[class*=index-section--flush]:last-child{
margin-bottom:-55px
}}
@media only screen and (max-width: 749px){
.index-section--featured-product:first-child{
margin-top:-12px
}}
@media only screen and (max-width: 749px){
.index-section--slideshow+.index-section--flush{
margin-top:.4rem
}}
.product-single{
overflow-anchor:none
}
.product-single__title{
margin-bottom:1em
}
.product-single__thumbnail{
display:block;
margin:-2px 0 8px;
min-height:44px;
position:relative
}
.product-single__thumbnail:not([disabled]):not(.active-thumb):hover{
opacity:.8
}
.product-single__thumbnail-image{
max-width:100%;
display:block;
border:2px solid transparent;
padding:2px
}
.active-thumb .product-single__thumbnail-image{
border-color:#000
}
.product-featured-img{
display:block;
margin:0 auto;
position:absolute;
top:4px;
left:4px;
width:calc(100% - 8px)
}
.no-js .product-featured-img{
position:relative
}
.zoomImg{
background-color:#fff
}
@media only screen and (min-width: 750px){
.product-single__thumbnails{
margin-top:30px
}}
@media only screen and (max-width: 749px){
.product-single__photos,.product-single__photo--has-thumbnails{
margin-bottom:30px
}}
.product-single__photos--full{
margin-bottom:30px
}
.product-single__photo-wrapper{
margin:0 auto;
width:100%
}
.product-single__photo{
margin:0 auto;
min-height:1px;
width:100%;
height:100%;
position:relative;
padding-bottom:4px
}
@media only screen and (max-width: 749px){
.template-product .main-content{
padding-top:22px
}
.thumbnails-slider--active .product-single__thumbnails{
display:none
}
.product-single__photos{
position:relative
}
.thumbnails-wrapper{
position:relative;
top:30px;
text-align:center;
margin:0 2px 30px
}
.thumbnails-slider__btn{
position:absolute;
top:50%;
transform:translateY(-50%)
}
.thumbnails-slider__prev{
left:-20px
}
.thumbnails-slider__next{
right:-20px
}
.product-single__thumbnails-custom{
display:inline-block;
padding-bottom:10px;
width:72px;
float:none;
vertical-align:middle
}

.product-single__thumbnail{
margin:0 auto;
width:50px
}}
.collection-grid{
margin-bottom:-22px;
overflow:auto
}
.collection-grid-item{
position:relative;
width:100%;
padding-bottom:100%;
margin-bottom:22px
}
@media only screen and (min-width: 750px){
.collection-grid-item{
margin-bottom:30px
}}
.collection-grid-item__title{
color:#fff;
position:absolute;
text-align:center;
width:100%;
top:50%;
padding:0 5px;
-ms-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
transform:translateY(-50%);
transition:.1s cubic-bezier(.44,.13,.48,.87);
text-shadow:0 0 4px rgba(0,0,0,.4);
hyphens:auto;
}
@media only screen and (min-width: 750px){
.collection-grid-item__title{
padding:0 15px
}}
.collection-grid-item__link{
position:absolute;
top:0;
left:0;
bottom:0;
right:0
}
.collection-grid-item__link:hover .collection-grid-item__title-wrapper:before,.collection-grid-item__link:focus .collection-grid-item__title-wrapper:before{
opacity:.7
}
.collection-grid-item__link:focus{
opacity:1
}
.collection-grid-item__overlay{
position:relative;
display:block;
height:100%;
width:100%;
background-size:cover;
background-repeat:no-repeat;
background-position:center top
}
.collection-grid-item__title-wrapper:before{
content:"";
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:#000;
opacity:1
}

.align--top-middle{
text-align:center
}
.align--top-right{
text-align:right
}
.align--middle-left{
-ms-flex-item-align:center;
-webkit-align-self:center;
align-self:center
}
.align--center{
-ms-flex-item-align:center;
-webkit-align-self:center;
align-self:center;
text-align:center
}
.align--middle-right{
-ms-flex-item-align:center;
-webkit-align-self:center;
align-self:center;
text-align:right
}
.align--bottom-left{
-ms-flex-item-align:flex-end;
-webkit-align-self:flex-end;
align-self:flex-end
}
.align--bottom-middle{
-ms-flex-item-align:flex-end;
-webkit-align-self:flex-end;
align-self:flex-end;
text-align:center
}
.align--bottom-right{
-ms-flex-item-align:flex-end;
-webkit-align-self:flex-end;
align-self:flex-end;
text-align:right
}
.newsletter-section{
padding-top:55px
}
.index-section--newsletter-background{
background-color:#0000000d
}
.rich-text__heading--large{
font-size:1.4em
}
.rich-text__heading--small{
font-size:.88em
}
.rich-text__text--large{
font-size:1.14286em
}
.rich-text__text--small{
font-size:.85714em
}
.work-card{
position:relative
}
.work-card:hover .work-card__image-wrapper,.work-card:focus-within .work-card__image-wrapper{
opacity:.8
}
.work-card:hover .work-card__title,.work-card:focus-within .work-card__title{
border-bottom-color:#000
}
.work-card__image-with-placeholder-wrapper{
position:relative
}
.work-card__title{
border-bottom:1px solid transparent;
display:inline
}
[data-section-type=video-section]{
margin:0 auto
}
@media only screen and (max-width: 749px){
[data-section-type=video-section]{
transition:width .6s cubic-bezier(.44,.13,.48,.87),height .6s cubic-bezier(.44,.13,.48,.87),padding .6s cubic-bezier(.44,.13,.48,.87)
}}
.video-section-wrapper{
position:relative;
display:flex;
-ms-flex-align:center;
-webkit-align-items:center;
-moz-align-items:center;
-ms-align-items:center;
-o-align-items:center;
align-items:center;
-webkit-justify-content:center;
-ms-justify-content:center;
justify-content:center;
width:100%;
height:100%
}
@media only screen and (min-width: 750px){
.video-section-wrapper{
overflow:hidden
}}
@media only screen and (max-width: 749px){
.video-section-wrapper{
overflow:visible!important
}
.video-section-wrapper.video-is-playing{
margin:0
}
.video-section-wrapper.video-is-loaded{
transition:margin .6s cubic-bezier(.44,.13,.48,.87)
}}
.video-section-wrapper--small.video-section-wrapper--min-height{
min-height:175px
}
@media only screen and (min-width: 750px){
.video-section-wrapper--small.video-section-wrapper--min-height{
min-height:475px
}}
.video-section-wrapper--medium.video-section-wrapper--min-height{
min-height:270px
}
@media only screen and (min-width: 750px){
.video-section-wrapper--medium.video-section-wrapper--min-height{
min-height:650px
}}
.video-section-wrapper--large.video-section-wrapper--min-height{
min-height:375px
}
@media only screen and (min-width: 750px){
.video-section-wrapper--large.video-section-wrapper--min-height{
min-height:775px
}}
.video-background-wrapper--no-overlay{
background-color:#0003
}
.video__text-content{
text-align:center;
position:relative;
width:100%;
top:20px;
opacity:1;
transition:all .6s cubic-bezier(.44,.13,.48,.87);
transition-delay:.3s;
z-index:3;
padding:40px 0
}
.video-is-playing .video__text-content{
display:none
}
.video-is-loaded .video__text-content,.no-js .video__text-content{
-ms-transform:translateY(-20px);
-webkit-transform:translateY(-20px);
transform:translateY(-20px)
}
.video-is-loaded .video__text-content:after,.no-js .video__text-content:after{
opacity:0;
visibility:hidden;
content:none
}
.video__title{
color:#fff
}
.video-is-paused .video__title{
display:none
}
.video{
display:none;
position:absolute;
left:0;
top:0;
z-index:2
}
.video--background{
position:absolute;
visibility:hidden;
opacity:0;
transition:all .2s ease-in
}
.autoplay .video-is-loaded .video--background{
display:block;
visibility:visible;
opacity:1
}
.video--image_with_play{
display:none;
opacity:0;
visibility:none;
width:100%;
height:100%;
transition:all .2s ease-in
}
.video-is-playing .video--image_with_play,.video-is-paused .video--image_with_play{
display:block;
visibility:visible;
opacity:1
}
.video-control{
display:none;
visibility:hidden;
opacity:0;
position:absolute;
z-index:4;
transition:all .1s ease-out
}
.video-control__play-wrapper{
display:none;
height:50px
}
@media only screen and (min-width: 750px){
.video-control__play-wrapper{
display:block
}}
.video-control__play-wrapper-mobile{
display:block;
height:50px;
position:absolute;
top:calc(100% - 25px);
left:calc(50% - 25px)
}
@media only screen and (min-width: 750px){
.video-control__play-wrapper-mobile{
display:none
}}
.video-control__play-wrapper--with-text{
margin-top:30px
}
.video-control__play{
display:flex;
justify-content:center;
visibility:visible;
opacity:1;
width:50px;
height:50px;
border-radius:25px;
position:relative;
margin:0 auto;
padding:5px;
pointer-events:none
}
.video-background-wrapper .video-control__play{
top:50%;
-ms-transform:translateY(-50%);
-webkit-transform:translateY(-50%);
transform:translateY(-50%)
}
.video-control__play{
opacity:.5
}
.video-is-loaded .video-control__play{
pointer-events:auto
}
.video-is-loaded .video-control__play{
opacity:1
}
.video-is-playing .video-control__play{
display:none;
visibility:hidden;
opacity:0
}
.video-control__play:before{
content:"";
display:block;
width:2.875rem;
height:2.875rem;
position:absolute;
margin-left:-1.4375rem;
border-radius:50%;
border:2px solid white;
border-top-color:transparent;
-moz-animation:spin .65s infinite linear;
-o-animation:spin .65s infinite linear;
-webkit-animation:spin .65s infinite linear;
animation:spin .65s infinite linear;
transition:all .1s ease-out .5s;
z-index:5;
top:1px;
left:50%;
opacity:.5
}
.video-is-loaded .video-control__play:before,.video-is-playing .video-control__play:before,.video-is-paused .video-control__play:before{
content:none;
display:none
}
.video-control__close-wrapper{
width:50px;
height:50px;
position:absolute;
top:0;
right:0;
outline:none;
z-index:3
}
.video-control__close{
position:relative;
width:30px;
height:30px;
margin:0 auto;
font-size:16px;
line-height:27px;
border-radius:15px;
background-color:#fff;
color:#000
}
.video-control__close-wrapper:hover .video-control__close,.video-control__close-wrapper:focus .video-control__close{
outline:auto 5px -webkit-focus-ring-color;
opacity:.7
}
.video-is-playing .video-control__close,.video-is-paused .video-control__close{
display:inline-block;
visibility:visible;
opacity:1
}
.video-control__close{
display:inline-block;
width:14px;
height:14px;
margin:0 auto
}
.video__pause{
position:absolute;
top:0;
right:0;
z-index:3;
width:50px;
height:50px;
padding:0;
border:none;
background-color:transparent;
transition:color .2s cubic-bezier(.44,.13,.48,.87),background-color .2s cubic-bezier(.44,.13,.48,.87)
}
@media only screen and (max-width: 749px){
.video__pause{
position:absolute!important;
overflow:hidden;
clip:rect(0 0 0 0);
height:1px;
width:1px;
margin:-1px;
padding:0;
border:0
}}
.video-is-playing .video__pause{
display:none
}
.video__pause{
position:relative;
color:#ffffff80;
transition:color .2s cubic-bezier(.44,.13,.48,.87),background-color .2s cubic-bezier(.44,.13,.48,.87)
}
.video__pause:hover,.video__pause:focus{
outline:none
}
.video__pause:hover,.video__pause:focus{
color:#fff
}
.video__pause-pause{
width:12px;
height:12px;
top:11px
}
.video__pause-play{
width:16px;
height:16px;
top:9px
}
.video__pause-resume,.video__pause-stop{
height:34px;
width:34px;
margin:0 auto;
justify-content:center;
background-color:#0006
}
.video__pause:hover .video__pause-resume,.video__pause:focus .video__pause-resume,.video__pause:hover .video__pause-stop,.video__pause:focus .video__pause-stop{
background-color:#000000bf
}
.video__pause:focus .video__pause-resume,.video__pause:focus .video__pause-stop{
outline:auto 5px -webkit-focus-ring-color
}
.video__pause-stop{
display:flex
}
.is-paused .video__pause-stop,.video__pause-resume{
display:none
}
.is-paused .video__pause-resume{
display:flex
}
.video__overlay:before{
content:"";
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
background-color:#000;
opacity:1;
z-index:3
}
.video-is-playing .video__overlay{
opacity:0
}
.video-is-playing .video__overlay:before{
content:none
}
.video__image{
transition:opacity .8s cubic-bezier(.44,.13,.48,.87);
position:absolute;
top:0;
left:0;
opacity:1;
height:100%;
width:100%;
background-repeat:no-repeat;
background-size:cover;
background-position:top center;
z-index:1
}
@media only screen and (min-width: 750px){
.video-background-wrapper .video__image{
opacity:0
}}
.no-autoplay .video__image{
opacity:1
}
.product-recommendations__inner{
padding:35px 0
}
@media only screen and (min-width: 750px){
.product-recommendations__inner{
padding:55px 0
}}
.clearafter:after{
content:"";
display:block;
clear:both
}
.main-content{
padding-top:25px
}
body{
font-family:"Union-Regular";
-webkit-font-smoothing:unset
}
.site-header{
padding:0
}
.mobile-custom-header{
display:none
}

.bio{
box-sizing:border-box;
font-family:"Union-Regular";
font-size:24px;
line-height:1.2;
color:#000;
letter-spacing:0px;
padding:10px;
margin-bottom:1vh;
text-align:left;
width:75%;
}

a.website-gallery{
padding:4px 5px 2px;
border:1px solid #00ff00;
color:black!important;
background-color:#00ff00;
border-radius:16px;
cursor:pointer;
font-size:16px;
font-family:"Union-Regular";
width:175px;
margin-left:10px;
margin-bottom:10px;
line-height:1.2;
text-align:center
}
.page-width{
max-width:inherit;
padding:5px
}
.grid--view-items{
margin-bottom:0;
margin-left:0
}
li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth{
border-right:1px solid #000;
border-top:1px solid #000;
min-height:25vw;
padding:0 5px;
padding-bottom:10px!important
}
li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(1),li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(2),li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(3),li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(4),li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(5){
border-top:0;
padding-top:0!important
}
li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(5n){
border-right:0
}
.h4.grid-view-item__title.work-card__title{

font-family:"Union-Regular";
font-size:1vw;
line-height:1.4vw;
bottom:-.6vw;
position:relative;
font-weight:initial;
height:6.5vw;
display:block;
border-bottom:0!important;
width:80%;
float:left
}
.product-specs,.product-specs *{
font-size:16px;
line-height:1.2;
font-weight:initial;
font-family:"Union-Regular"
}
.template-index .product-specs,.template-collection .product-specs{
min-height:95px
}
.grid-view-item{
margin-bottom:0
}
.grid-view-item__image-wrapper{
height:0;
overflow:hidden
}
.grid-view-item__image-wrapper .grid-view-item__image{
width:100%;
max-width:100%;
height:auto!important;
max-height:initial
}
li.grid__item{
padding-top:10px!important
}
.product-image-custom{
height:19vw;
background-position:center;
background-repeat:no-repeat;
background-size:contain
}

.inner-footer{
padding:10px;
display:flex;
flex-direction:row;
align-items:flex-end
}
.inner-footer *{
color:#000;
font-family:"Union-Regular"
}
.inner-footer:after{
content:"";
display:block;
clear:both
}
.inner-footer .col-left,.inner-footer .footer-logo,.inner-footer .col-right{
flex:1 0 33.33%
}
.inner-footer .footer-logo img{
float:none;
display:block;
margin-left:auto;
margin-right:auto
}
.inner-footer .col-left,.inner-footer .col-right,.inner-footer .col-left a,.inner-footer .col-right a{
font-size:1.2vw;
line-height:1.2vw;
color:#000
}
.inner-footer .col-right a{
margin-left:1vw
}
.inner-footer .col-right .policy-list{
width:auto;
display:inline-block
}
.inner-footer .col-right{
text-align:right
}
li.policy-list__item{
padding:0;
margin:0;
margin-left:.6vw;
display:inline-block
}
.template-product .main-content{
padding-top:20px!important
}
#work-section-product-template .medium-up--one-half{
width:40%
}
#work-section-product-template .grid__item.product-single__photos.medium-up--one-half{
width:60%!important
}
#work-section-product-template .medium-up--one-half .product-single__meta{
width:50%;
float:left;
border-right:1px solid black;
font-family:"Union-Regular";
line-height:1.2;
min-height:50vw;
padding-left:5px
}

#work-section-product-template .thumbnails-wrapper{
width:33.33%
}
#work-section-product-template .thumbnails-wrapper .medium-up--one-quarter{
width:50%
}
#work-section-product-template .product-single__title{
font-size:1.1vw!important;
line-height:1.5vw;
font-family:"Union-Regular"!important;
position:relative;
font-weight:initial
}
#work-section-product-template .cardboard-variants{
padding-top:1em;
padding-right:10px
}
#work-section-product-template .cardboard-variants .prod-variant{
padding:4px 5px 2px;
border:1px solid #000000;
color:#000;
border-radius:20px!important;
cursor:pointer;
font-size:16px;
font-family:"Union-Regular";
line-height:1.2;
display:block!important;
margin:5px 0 0;
font-weight:initial;
width:100%;
-webkit-font-smoothing:antialiased;
text-align:center!important;
outline:none;
min-height:0
}
#work-section-product-template .grid{
margin-left:0
}
#work-section-product-template .grid__item{
padding-left:0
}
#work-section-product-template li.grid__item{
padding:0;
padding-top:0!important
}

#work-section-product-template select#SingleOptionSelector-0,#work-section-product-template select#SingleOptionSelector-1{
padding:4px 5px 2px;
border:1px solid #000000;
color:#000;
border-radius:20px!important;
cursor:pointer;
font-size:16px;
font-family:"Union-Regular";
line-height:1.2;
text-align:center;
display:block!important;
margin:0;
font-weight:initial;
width:100%;
-webkit-font-smoothing:antialiased;
text-align:center!important;
outline:none;
min-height:0
}

.template-product .text-center.return-link-wrapper.page-width{
display:none!important
}
#work-section-product-template .product-single__photo{
border-right:1px solid black
}
.product-single__photo-wrapper{
margin:0;
width:66.66%!important;
float:left;
max-height:45vw!important;
max-width:100%!important
}
#work-section-product-template .product-single__photo{
border-right:0!important
}
#work-section-product-template .product-single__photo .product-featured-img{
width:calc(100% - 10px)!important;
padding:0 10px;
max-width:100%!important;
max-height:100%!important;
outline:none!important
}
#work-section-product-template .thumbnails-wrapper{
width:33.33%;
float:left
}
.product-single__thumbnails{
margin-top:0;
width:100%
}
.active-thumb .product-single__thumbnail-image{
border:0
}
#work-section-product-template .thumbnails-wrapper{
width:calc(20% - 1px);
float:right;
position:absolute;
right:0;
padding:0 5px 0 10px;
min-height:50vw;
border-left:1px solid #000
}
#work-section-product-template .custom-gallery-thumbnail{
border-top:1px solid #000;
padding-top:10px;
padding-bottom:10px
}
#work-section-product-template .custom-gallery-thumbnail div{
height:9.5vw;
background-position:center;
background-repeat:no-repeat;
background-size:contain
}
#work-section-product-template .custom-gallery-thumbnail div span{
font-size:1.1vw!important;
line-height:1.5vw;

font-family:"Union-Regular"!important;
position:relative
}
#work-section-product-template li:nth-child(1) .custom-gallery-thumbnail,#work-section-product-template li:nth-child(2) .custom-gallery-thumbnail{
border-top:0
}
#work-section-product-template li:nth-child(odd) .custom-gallery-thumbnail{
border-right:1px solid #000;
padding-right:10px
}
#work-section-product-template li:nth-child(even) .custom-gallery-thumbnail{
padding-left:10px
}

div#work-section-product-recommendations{
display:none
}

.page-container{
z-index:1000
}

.collection-header{
display:none
}

.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth{
border-right:1px solid #000;
border-top:1px solid #000;
min-height:25vw;
padding:0 5px
}
.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(1),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(2),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(3),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(4),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(5){
border-top:0;
padding-top:0!important;
padding-bottom:10px
}
.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(5n){
border-right:0!important
}
body{
overflow-x:hidden
}
.custom-grid-no-mobile{
height:calc(25.5vw + 120px)
}
.template-pag #weather.collab{
top:inherit;
margin-top:calc(-85px - 1vw)
}
.template-pag ul.grid.grid--uniform{
width:100%;
margin-left:0
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth{
border-right:1px solid #000;
border-top:1px solid #000;
min-height:25vw;
padding:0 5px;
padding-bottom:10px!important
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(1),.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(2),.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(3),.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(4),.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(5){
border-top:0;
padding-top:0!important
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(5n){
border-right:0
}
.template-pag .product-specs{
min-height:95px
}
@media only screen and (max-width: 749px){
.site-header{
display:none
}
.mobile-custom-header{
display:block;
padding-bottom:0
}

.h4.grid-view-item__title.work-card__title{
font-size:4vw;
line-height:5.5vw;
bottom:-4vw;
position:relative;
height:36vw;
margin-bottom:10vw;
display:block;
width:100%;
text-indent:calc(0% + 0px)
}
/* text-indent:calc(25% + 5px) */

li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(3),li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(4),li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(5){
border-top:1px solid #000;
padding-top:10px!important
}
li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(5n){
border-right:1px solid #000
}
li.grid__item.grid__item--featured-collections.small--one-half.medium-up--one-fifth:nth-child(2n){
border-right:0
}
.product-image-custom{
height:48vw
}
div#ProductSection-product-template{
padding:0 10px
}
#work-section-product-template .grid{
display:flex;
flex-direction:column
}
#work-section-product-template .grid__item.product-single__photos.medium-up--one-half{
order:1
}
#work-section-product-template .medium-up--one-half{
order:2
}
#work-section-product-template .medium-up--one-half{
width:100%
}
#work-section-product-template .medium-up--one-half .product-single__meta{
width:100%;
border-right:0;
border-bottom:1px solid #000;
margin-bottom:15px;
padding-left:0;
height:initial!important
}
#work-section-product-template .product-form__item.product-form__item--submit.product-form__item--no-variants{
padding-right:0;
-webkit-font-smoothing:antialiased
}
#work-section-product-template .product-form__item{
padding:0
}

#work-section-product-template .product-single__title{
font-size:4vw!important;
line-height:5.5vw!important
}
#work-section-product-template .grid__item.product-single__photos.medium-up--one-half{
width:100%!important
}
.product-single__photo-wrapper{
width:100%!important;
float:left;
max-height:45vw!important;
max-width:100%!important
}
#work-section-product-template__more-options{
position:absolute;
-webkit-font-smoothing:antialiased
}
#work-section-product-template .thumbnails-wrapper{
width:100%;
float:left;
position:inherit;
right:0;
padding:0
}

#candlestick-header{
margin-top:12vw;
height:14vw
}
.collection-header{
display:none
}

.template-collection{
margin-top:20px
}
.template-collection .h4.grid-view-item__title.work-card__title{
height:18vw
}
.template-collection {
margin-top:-.6em
}
.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(1),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(2),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(3),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(4),.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth:nth-child(5){
border-bottom:1px solid #000
}
.template-collection li.grid__item.grid__item--collection-template.small--one-half.medium-up--one-fifth{
border-top:0;
padding-top:0!important
}
.custom-grid-no-mobile{
display:none
}
.page-width.collabs{
max-width:100vw;
padding:0
}
.scrollingheader-wrapper{
overflow-y:hidden!important;
display:block;
width:100vw;
left:0
}
.custom-grid-no-mobile{
display:none
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth{
border-top:0;
padding-top:0!important
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth{
border-right:1px solid #000;
border-top:1px solid #000;
min-height:25vw;
padding:0 5px;
padding-bottom:10px!important
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(3),.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(4),.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(5){
border-top:1px solid #000;
padding-top:10px!important
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(5n){
border-right:1px solid #000
}
.template-pag li.grid__item.small--one-half.medium-up--one-fifth:nth-child(2n){
border-right:0
}

.custom-grid-no-mobile{
display:none
}
.inner-footer{
display:flex;
flex-direction:column
}
.inner-footer .col-right{
order:1
}
.inner-footer .col-left,.inner-footer .col-right,.inner-footer .col-left a,.inner-footer .col-right a{
font-size:5vw;
line-height:6vw;
text-align:left;
width:100%
}
.inner-footer .col-left,.inner-footer .footer-logo,.inner-footer .col-right{
flex:1 0 100%;
width:100%
}
.inner-footer .footer-logo{
order:1
}
.inner-footer .col-left{
order:2
}
.inner-footer .col-right{
order:3
}
.inner-footer .col-right a{
margin-left:0;
margin-right:1vw
}}